.App {
  /* text-align: center; */
  padding: 10px;
}


input[type=text] {
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
 
}

.observation_field{
  background-color: #ffffff;
}

.location_field{
  background-color: #f1f1f1;
  padding: 12px 20px;

}
.sugg_block{
  width: 25%;
}
.obervation_block {
  border: 2px solid #ccc;
  width: 80%;
  border-radius: 16px;
  margin: 5px;
  padding: 10px;
}

.react-datetime-picker__wrapper {
  border: none !important;
}